@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --gradient: linear-gradient(
    90deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.page-container {
  position: relative;
  min-height: 100vh;
  /* background-color: black; */
}

.content-wrap {
  padding-bottom: 1.5rem;
}

body {
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.hero-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.hero {
  width: 80%;
}

h1 {
  line-height: 1.3;
  font-size: 96px;
  width: 50%;
}

.gradient-text {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: hero-animation 13s infinite alternate;
}

@keyframes hero-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.rules-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  background-image: linear-gradient(90deg, #ff9671, #ffc75f, #f9f871);
}

.rules {
  width: 80%;
}

a:link {
  color: #6139a1;
  text-decoration: none;
}

a:visited {
  color: #6139a1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.buttons-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.buttons {
}

#rock {
  cursor: pointer;
}

#paper {
  cursor: pointer;
}

#scissors {
  cursor: pointer;
}

.scores-container {
  background-image: linear-gradient(90deg, #845ec2, #d65db1, #ff6f91);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.scores-container button {
  cursor: pointer;
}

.scores {
  display: flex;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  background-color: black;
}

.footer {
  text-align: center;
  color: white;
}
