@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --body-bg: black;
  --gradient: linear-gradient(
    90deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 1.5rem;
}

body {
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.hero-container {
  background-color: var(--body-bg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 1rem 0 3rem 0;
}

.hero {
  width: 80%;
}

h1 {
  line-height: 1.3;
  font-size: 96px;
  width: 50%;
}

.gradient-text {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: hero-animation 13s infinite alternate;
}

@keyframes hero-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.rules-container {
  --spike-width: 50px;
  --spike-height: 15px;
  --spike-color: var(--body-bg);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  background-image: linear-gradient(90deg, #ff9671, #ffc75f, #f9f871);
}

.rules-container::before,
.rules-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: var(--spike-color);
  -webkit-mask-image: url("assets/triangle.svg");
  -webkit-mask-size: var(--spike-width) var(--spike-height);
  mask-image: url("assets/triangle.svg");
  mask-size: var(--spike-width) var(--spike-height);
}

.rules-container::before {
  top: 0;
}

.rules-container::after {
  bottom: 0;
  transform: rotate(0.5turn);
}

.rules {
  width: 80%;
  text-align: center;
}

.rules h3 {
  margin-bottom: 4rem;
}

.rules p {
  line-height: 1.5;
}

a:link {
  color: #542998;
  text-decoration: none;
}

a:visited {
  color: #542998;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.buttons-container {
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
}

.button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871,
    #ffc75f,
    #ff9671,
    #ff6f91,
    #d65db1,
    #845ec2
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #000;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#rock {
  cursor: pointer;
}

#paper {
  cursor: pointer;
}

#scissors {
  cursor: pointer;
}

.scores-container {
  background-image: linear-gradient(90deg, #845ec2, #d65db1, #ff6f91);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  /* Mask created with https://css-generators.com/wavy-shapes/ */
  --mask: radial-gradient(55.9px at 50% 75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(55.9px at 50% -50px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(55.9px at 50% calc(100% - 75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(55.9px at 50% calc(100% + 50px), #0000 99%, #000 101%) 50%
      calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.scores-container button {
  cursor: pointer;
}

.scores {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 6rem;
  font-size: 30px;
}

.inner-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.results {
  margin-bottom: 1.5rem;
}

.reset-button {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  background-color: var(--body-bg);
}

.footer {
  text-align: center;
  color: white;
}
